.login-form {
    width: 340px;
    margin: 25px auto;
}

.login-form form {

    margin-bottom: 15px;
    background: #f7f7f7;
    /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.logo-img {
    width: 199px;
    position: absolute;
}

.logo {
    position: relative;
    top: -23px;

}

.wrapper {
    /*margin-top: 130px;*/
}

.login-heading {
    color: #cccccc;
}

.notification-wrapper {
    /*position: relative!important;*/
    top: 10px!important;
    /*height: 50px;*/
    margin-left: auto!important;
    margin-right: auto!important;
    right: 0;
    left: 0;
    width: 25%;
    bottom: inherit!important;

}

.notification-wrapper .n-success {
    color: #ffffff;
}

.notificationMessageSuccess , .notificationMessageError{
    color: #ffffff!important;
    font-weight: bold;

}

.notification-wrapper.n-error {
    background: #ff0000!important;
}

.notification-wrapper.n-success {
    background: #5cb85c!important;
}

.notificationMessageError {
    /*color: #ffffff!important;*/
    /*font-weight: bold;*/
}