/*!==============================
 * Theme Name: Green
 * Theme URL: https://probootstrap.com/green-free-html5-website-template-using-bootstrap-framework
 * Author: ProBootstrap.com
 * Author URL: https://probootstrap.com
 * License: Released for free under the Creative Commons Attribution 3.0 license (probootstrap.com/license)
 */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?1z9v6x");
  src: url("../fonts/icomoon/icomoon.eot?1z9v6x#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?1z9v6x") format("truetype"), url("../fonts/icomoon/icomoon.woff?1z9v6x") format("woff"), url("../fonts/icomoon/icomoon.svg?1z9v6x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-x: hidden;
  font-size: 1em;
}

body {
  background: #E9E9E5;
  font-size: 16px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  color: #7e8890;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
}

::selection {
  background: #000000;
  color: #ffffff;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 400;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.998em;
  }
}

h2 {
  font-size: 2.827em;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 2.10em;
  }
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

small, .font_small {
  font-size: 0.707em;
}

p, ul, ol, figure {
  margin-bottom: 1.3em;
}

a {
  -webkit-transition: .3s all;
  transition: .3s all;
  color: #B2D430;
}

a:hover, a:focus, a:active {
  color: black;
  text-decoration: none;
}

a.hover-reverse {
  color: #000000;
}

a.hover-reverse:hover, a.hover-reverse:focus, a.hover-reverse:active {
  color: #B2D430;
  text-decoration: none;
}

.probootstrap-header {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background: #ffffff;
  z-index: 12;
  -webkit-box-shadow: 0px 6px 68px -6px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 6px 68px -6px rgba(0, 0, 0, 0.09);
}

.probootstrap-logo {
  float: left;
  color: #B2D430;
  padding-left: 20px;
  font-size: 20px;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.probootstrap-logo:hover, .probootstrap-logo:focus, .probootstrap-logo:active {
  color: #B2D430;
}

@media screen and (max-width: 768px) {
  .probootstrap-logo {
    padding-left: 0px;
  }
}

.probootstrap-nav {
  margin-left: 60px;
  float: right;
}

.probootstrap-mobile-menu-active .probootstrap-nav {
  text-align: left;
  position: fixed;
  display: block !important;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  padding-right: 0;
  z-index: 1100;
  height: 100vh;
  width: 300px;
  background: #000000;
  padding: 40px;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text {
  display: block;
  float: left;
  clear: both;
  margin-top: 30px;
  color: #ffffff;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text .social-buttons {
  padding: 0;
  margin: 0 0 20px 0;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text .social-buttons li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0;
  margin: 0;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text .social-buttons li a {
  color: #ffffff;
  padding: 10px;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text .social-buttons li:first-child a {
  padding-left: 0;
}

.probootstrap-mobile-menu-active .probootstrap-nav .extra-text h5 {
  text-transform: uppercase;
  letter-spacing: .1em;
  color: rgba(255, 255, 255, 0.5);
}

.probootstrap-mobile-menu-active.show .probootstrap-nav {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.probootstrap-main-nav {
  margin: 0;
  padding: 0;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav {
  float: left;
  margin-top: 40px;
  width: 100%;
}

.probootstrap-main-nav li {
  margin: 0;
  padding: 0 10px;
  list-style: none;
  display: inline;
  font-size: 18px;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li {
  margin-bottom: 10px;
  display: block;
  padding-left: 0;
  padding-right: 0;
}

.probootstrap-main-nav li a {
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 0;
  color: #000000;
  font-size: 14px;
  letter-spacing: .2em;
  border-bottom: 2px solid transparent;
}

.probootstrap-main-nav li a:hover {
  color: #B2D430;
}

.probootstrap-mobile-menu-active.show .probootstrap-main-nav li a {
  color: #ffffff;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li a {
  margin-bottom: 10px;
  padding: 5px 0;
  display: block;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li a {
  border-bottom: none !important;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li a:hover {
  color: #B2D430;
}

.probootstrap-main-nav li.probootstrap-cta {
  margin-left: 20px;
}

.probootstrap-main-nav li.probootstrap-cta a {
  border: 2px solid #ffffff;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 4px;
}

.probootstrap-main-nav li.probootstrap-cta a:hover {
  background: #ffffff;
  color: #B2D430;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li.probootstrap-cta {
  margin-left: 0px;
  margin-top: 20px;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li.probootstrap-cta a {
  padding-top: 2px;
  padding-bottom: 2px;
}

.probootstrap-main-nav li.active a {
  border-bottom: 2px solid #B2D430;
}

.probootstrap-main-nav li.active a:hover {
  border-bottom: 2px solid #B2D430;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li.active a {
  border-bottom: none !important;
  color: #B2D430;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li {
  display: block;
}

.probootstrap-header-social {
  position: absolute;
  top: 34px;
  right: 60px;
}

.probootstrap-header-social li {
  display: inline;
  list-style: none;
  margin-left: 5px;
}

.probootstrap-header-social li a {
  color: #ffffff;
}

.mobile-menu-overlay {
  z-index: 1099;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.probootstrap-mobile-menu-active.show .mobile-menu-overlay {
  opacity: 1;
  visibility: visible;
}

.probootstrap-text-intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 49;
}

.probootstrap-burger-menu {
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.probootstrap-burger-menu i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 2px;
  color: #000000;
  font: bold 14px/.4 Helvetica, arial;
  text-transform: uppercase;
  text-indent: -55px;
  background: #000000;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.probootstrap-burger-menu i::before, .probootstrap-burger-menu i::after {
  content: '';
  width: 18px;
  height: 2px;
  background: #000000;
  position: absolute;
  left: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.probootstrap-burger-menu i::before {
  top: -7px;
}

.probootstrap-burger-menu i::after {
  bottom: -7px;
}

.probootstrap-burger-menu:hover i::before {
  top: -10px;
}

.probootstrap-burger-menu:hover i::after {
  bottom: -10px;
}

.probootstrap-burger-menu.active i {
  background: transparent;
}

.probootstrap-burger-menu.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.probootstrap-burger-menu.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.probootstrap-mobile-menu-active.show .probootstrap-burger-menu i {
  color: #ffffff;
  background: #000000;
}

.probootstrap-mobile-menu-active.show .probootstrap-burger-menu i::before, .probootstrap-mobile-menu-active.show .probootstrap-burger-menu i::after {
  background: #ffffff;
}

.probootstrap-burger-menu {
  position: absolute;
  top: 30px;
  right: 20px;
}

.btn {
  border: none;
  border-radius: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
}

.btn.btn-sm {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}

.btn:active {
  -webkit-transition: .2s all;
  transition: .2s all;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.btn-lg {
  line-height: 1.5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn.btn-primary {
  border: 2px solid #B2D430;
  background: #B2D430;
  color: #ffffff;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  background: #bad845;
  color: #ffffff;
  border: 2px solid #bad845;
}

.btn.btn-primary:focus, .btn.btn-primary:active {
  outline: none;
  border: 2px solid #bad845;
}

.btn.btn-ghost {
  background: transparent;
  border: 2px solid #B2D430;
  color: #B2D430;
}

.btn.btn-ghost:hover {
  background: #B2D430;
  color: #ffffff;
  border: 2px solid #B2D430;
}

.btn.btn-ghost:focus, .btn.btn-ghost:active {
  outline: none;
  background: transparent;
  color: #B2D430;
  border: 2px solid #B2D430;
}

.btn.btn-ghost.btn-ghost-white {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn.btn-ghost.btn-ghost-white:hover {
  background: #ffffff;
  color: #B2D430;
}

.btn.btn-ghost.btn-ghost-white:focus, .btn.btn-ghost.btn-ghost-white:active {
  outline: none;
  background: #ffffff;
  color: #B2D430;
  border: 2px solid #ffffff;
}

.btn.btn-black {
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

.btn.btn-black:hover {
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

.btn.btn-black:focus, .btn.btn-black:active {
  outline: none;
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

.probootstrap-section {
  padding: 4em 0;
  position: relative;
  z-index: 2;
}

.probootstrap-section.probootstrap-section-sm {
  padding: 3em 0;
}

.probootstrap-section.probootstrap-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section.probootstrap-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section > .container.probootstrap-border-top {
  padding-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section.probootstrap-section-colored, .probootstrap-section.probootstrap-section-dark {
  background: #B2D430;
  background: #ddf0f3;
  background: -webkit-gradient(left top, right top, color-stop(0%, #ddf0f3), color-stop(100%, #b2d430));
  background: -webkit-gradient(linear, left top, right top, from(#ddf0f3), to(#b2d430));
  background: linear-gradient(to right, #ddf0f3 0%, #b2d430 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$firstcolor, endColorstr=$secondcolor, GradientType=1 );
}

.probootstrap-section.probootstrap-section-colored .section-heading h2, .probootstrap-section.probootstrap-section-dark .section-heading h2 {
  color: white;
}

.probootstrap-section.probootstrap-section-colored .section-heading p, .probootstrap-section.probootstrap-section-dark .section-heading p {
  color: rgba(255, 255, 255, 0.6);
}

.probootstrap-section.probootstrap-section-colored .heading-with-icon, .probootstrap-section.probootstrap-section-dark .heading-with-icon {
  color: #B2D430;
}

.probootstrap-section.probootstrap-section-colored .heading-with-icon i, .probootstrap-section.probootstrap-section-dark .heading-with-icon i {
  color: #B2D430;
}

.probootstrap-section.probootstrap-section-colored p, .probootstrap-section.probootstrap-section-dark p {
  color: white;
}

.probootstrap-section.probootstrap-section-dark {
  background: #161C2E;
  color: white;
}

.probootstrap-section.probootstrap-section-dark .section-heading h2 {
  color: white;
}

.probootstrap-section.probootstrap-section-dark .section-heading p {
  color: rgba(255, 255, 255, 0.6);
}

.probootstrap-section.probootstrap-section-dark p {
  color: rgba(255, 255, 255, 0.6);
}

.probootstrap-section.probootstrap-bg-white {
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .probootstrap-section {
    padding: 3em 0;
  }
}

.probootstrap-section.probootstrap-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 8em 0;
}

.probootstrap-section.probootstrap-bg:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.probootstrap-section.probootstrap-bg .heading {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  font-family: "Just Another Hand", cursive;
  text-transform: uppercase;
  font-size: 80px;
  line-height: 80px;
}

.probootstrap-section.probootstrap-bg .sub-heading {
  font-size: 20px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}

.probootstrap-section.probootstrap-bg .container {
  position: relative;
  z-index: 2;
}

.probootstrap-relative {
  position: relative;
}

.probootstrap-owl-navigation {
  margin: 0;
  padding: 0;
}

.probootstrap-owl-navigation.absolute {
  position: absolute;
  top: 2px;
}

@media screen and (max-width: 768px) {
  .probootstrap-owl-navigation.absolute {
    position: relative;
    margin-bottom: 40px;
  }
}

.probootstrap-owl-navigation.absolute.right {
  right: 10px;
}

.probootstrap-owl-navigation.absolute.left {
  left: 0;
}

.probootstrap-owl-navigation li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.probootstrap-owl-navigation li a {
  font-size: 30px;
  padding: 0px;
  color: #cccccc;
}

.probootstrap-owl-navigation li a:hover {
  color: #333333;
}

.probootstrap-footer-widget {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.probootstrap-footer-widget .heading {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .2em;
  margin-bottom: 30px;
}

.probootstrap-footer-widget.right {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .probootstrap-footer-widget.right {
    text-align: left;
  }
}

.probootstrap-footer {
  padding: 5em 0;
}

@media screen and (max-width: 768px) {
  .probootstrap-footer {
    padding: 3em 0;
  }
}

.probootstrap-footer.probootstrap-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 8em 0;
  position: relative;
  color: rgba(255, 255, 255, 0.9);
}

.probootstrap-footer.probootstrap-bg a:hover {
  color: #ffffff;
}

.probootstrap-footer.probootstrap-bg h2, .probootstrap-footer.probootstrap-bg h3, .probootstrap-footer.probootstrap-bg h4 {
  color: #ffffff;
}

.probootstrap-footer.probootstrap-bg:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.probootstrap-footer > .container {
  position: relative;
  z-index: 2;
}

.probootstrap-footer form .form-control {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 46px;
  color: #ffffff;
  -webkit-transition: .3s all ease-in;
  transition: .3s all ease-in;
}

.probootstrap-footer form .form-control:focus, .probootstrap-footer form .form-control:active {
  outline: none;
  border: 1px solid #B2D430;
}

.probootstrap-footer form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.5);
}

.probootstrap-footer form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}

.probootstrap-footer form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.5);
}

.probootstrap-footer form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
}

.probootstrap-footer form .form-field {
  position: relative;
}

.probootstrap-footer form .btn.btn-subscribe {
  height: 40px;
  border-radius: 4px;
  border: none;
  position: absolute;
  top: 3px;
  right: 3px;
  padding-left: 15px;
  padding-right: 15px;
  background: #B2D430;
}

.probootstrap-footer form .btn.btn-subscribe:hover, .probootstrap-footer form .btn.btn-subscribe:active, .probootstrap-footer form .btn.btn-subscribe:focus {
  color: #ffffff;
}

.probootstrap-footer .copyright p {
  font-size: 15px;
}

.probootstrap-link-wrap {
  padding-left: 40px;
}

@media screen and (max-width: 970px) {
  .probootstrap-link-wrap {
    padding-left: 0;
  }
}

.stack-link {
  padding: 0;
  margin: 0;
  display: block;
}

.stack-link li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-heading h2 {
  font-size: 2.074em;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.lead {
  font-size: 1.125em;
  line-height: 1.65;
}

.image-popup {
  margin-bottom: 30px;
  float: left;
  width: 100%;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}

@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

.probootstrap-cart a {
  position: relative;
}

.probootstrap-cart a .number {
  letter-spacing: .0em;
  position: absolute;
  top: 0;
  left: 10px;
  display: inline-block;
  width: 25px;
  font-size: 12px;
  height: 25px;
  margin-top: -5px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  background: #B2D430;
  color: #ffffff;
}

.product-item, .media-item {
  -webkit-box-shadow: 0px 6px 68px -6px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 6px 68px -6px rgba(0, 0, 0, 0.09);
  background: #ffffff;
  margin-bottom: 30px;
  border-radius: 7px;
  overflow: hidden;
}

.product-item figure, .media-item figure {
  margin-bottom: 0;
}

.product-item .text, .media-item .text {
  padding: 20px;
}

.product-item .text .heading, .media-item .text .heading {
  font-size: 20px;
  margin-top: 0;
  line-height: 1.4;
}

.product-item .text p:last-child, .media-item .text p:last-child {
  margin-bottom: 0;
}

.probootstrap-hover-overlay {
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-transition: .7s all ease-out;
  transition: .7s all ease-out;
  margin-bottom: 30px;
}

.probootstrap-hover-overlay img {
  position: relative;
  z-index: 1;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.probootstrap-hover-overlay:before {
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

.probootstrap-hover-overlay .probootstrap-text-overlay {
  position: absolute;
  z-index: 20;
  left: 20px;
  top: 20px;
  -webkit-transition: .4s all ease-out;
  transition: .4s all ease-out;
  opacity: 0;
  visibility: hidden;
}

.probootstrap-hover-overlay .probootstrap-text-overlay h3 {
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 0;
}

.probootstrap-hover-overlay .probootstrap-text-overlay p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.probootstrap-hover-overlay .probootstrap-text-overlay p:last-child {
  margin-bottom: 0;
}

.probootstrap-hover-overlay:hover:before {
  opacity: 1;
  visibility: visible;
}

.probootstrap-hover-overlay:hover .probootstrap-text-overlay {
  top: 20px;
  opacity: 1;
  visibility: visible;
}

.probootstrap-hover-overlay:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.probootstrap-block-image {
  margin-bottom: 40px;
  float: left;
  width: 100%;
}

.probootstrap-block-image figure {
  width: 200px;
  margin: 0 auto;
}

.probootstrap-block-image figure img {
  max-width: 100%;
  border-radius: 50%;
}

.probootstrap-block-image h4 {
  font-size: 20px;
  text-transform: uppercase;
}

.probootstrap-footer-social {
  padding: 0;
  margin: 0;
}

.probootstrap-footer-social li {
  display: inline;
  padding: 0;
  margin: 0;
  list-style: none;
}

.probootstrap-footer-social li a {
  padding: 10px;
  font-size: 22px;
}

.probootstrap-footer-social li:first-child > a {
  padding-left: 0;
}

.service {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  padding: 30px;
  border-radius: 7px;
  background: #ffffff;
  -webkit-box-shadow: 0px 6px 68px -6px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 6px 68px -6px rgba(0, 0, 0, 0.09);
}

.service .icon {
  display: block;
  margin-bottom: 10px;
}

.service .icon i {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.2);
  color: #B2D430;
}

.service p:last-child {
  margin-bottom: 0;
}

.service .heading {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}

.service.left-icon {
  padding: 0px;
  border: none;
  margin-bottom: 20px !important;
}

.service.left-icon .icon, .service.left-icon .text {
  display: table-cell;
  vertical-align: top;
}

.service.left-icon .icon {
  width: 70px;
  position: relative;
  top: 20px;
}

.service.left-icon .icon i {
  font-size: 40px;
}

.service.left-icon .text {
  display: table-cell;
}

.service.left-icon h3 {
  font-size: 22px;
  margin-bottom: 0px;
}

.service.left-icon p {
  font-size: 14px;
}

.service.left-icon p:last-child {
  margin-bottom: 0;
}

.service.hover_service {
  -webkit-transition: .3s all;
  transition: .3s all;
}

.service.hover_service:hover, .service.hover_service:focus {
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.probootstrap-form {
  margin-bottom: 50px;
}

.probootstrap-form.probootstrap-form-box {
  background: #ffffff;
  padding: 60px;
  -webkit-box-shadow: 18px 17px 104px -24px rgba(0, 0, 0, 0.1);
  box-shadow: 18px 17px 104px -24px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .probootstrap-form.probootstrap-form-box {
    padding: 20px;
  }
}

.probootstrap-form .form-note-link {
  font-weight: 400;
}

.probootstrap-form .form-note-link a {
  color: #bfbfbf;
}

.probootstrap-form .form-note-link a:hover, .probootstrap-form .form-note-link a:active, .probootstrap-form .form-note-link a:focus {
  color: #404040;
}

.probootstrap-form label {
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}

.probootstrap-form .form-control {
  height: 46px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #cccccc;
  background: none;
  color: #ffffff;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.probootstrap-form .form-control:active, .probootstrap-form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #B2D430;
}

.probootstrap-form textarea.form-control {
  height: inherit;
  resize: vertical;
}

.probootstrap-animate {
  opacity: 0;
  visibility: hidden;
}

.probootstrap-contact-info, .with-icon {
  padding: 0;
  margin: 0 0 30px 0;
  color: rgba(0, 0, 0, 0.4);
}

.probootstrap-contact-info li, .with-icon li {
  padding: 0;
  margin: 20px 0 15px 0;
  list-style: none;
  line-height: 24px;
  display: table;
}

.probootstrap-contact-info li > i, .probootstrap-contact-info li > span, .with-icon li > i, .with-icon li > span {
  vertical-align: top;
  display: table-cell;
}

.probootstrap-contact-info li > i, .with-icon li > i {
  font-size: 20px;
  position: relative;
  top: 4px;
  width: 30px;
}

.with-icon li i {
  top: 4px;
  font-size: 15px;
}

.with-icon.colored i {
  color: #B2D430;
}

.probootstrap-section-heading .sub-heading {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin-top: 0;
}

.probootstrap-section-heading .heading {
  margin-top: 0;
}

/* Flexslider override style */
.slider-height, .flexslider, .flexslider .slides > li {
  height: 800px;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .slider-height, .flexslider, .flexslider .slides > li {
    height: inherit;
    height: 500px;
  }
}

.lead {
  font-size: 20px;
}

.flexslider {
  position: relative;
  z-index: 2;
  background: none;
  border: none;
  margin: 0 0 0;
  border-radius: 0px;
  color: rgba(255, 255, 255, 0.7);
}

.flexslider .btn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  padding-right: 60px;
}

.flexslider .probootstrap-heading {
  color: #ffffff;
  font-weight: 300;
  font-size: 170px;
  line-height: 60px;
  font-family: "Just Another Hand", cursive;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .flexslider .probootstrap-heading {
    font-size: 90px;
    line-height: 70px;
  }
}

.flexslider .probootstrap-heading a {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.flexslider .probootstrap-heading a:hover {
  border-bottom: 2px solid white;
}

.flexslider .probootstrap-sub-wrap {
  max-width: 600px;
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
}

.flexslider .probootstrap-sub-wrap a {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.flexslider .probootstrap-sub-wrap a:hover {
  border-bottom: 2px solid white;
}

.flexslider .text-center .probootstrap-sub-wrap {
  margin: 0 auto;
  text-align: center;
}

.flexslider .probootstrap-slider-text {
  margin-top: 300px;
}

@media screen and (max-width: 480px) {
  .flexslider .probootstrap-slider-text {
    margin-top: 100px;
  }
}

.flexslider.probootstrap-inner {
  height: 500px;
}

.flexslider.probootstrap-inner .probootstrap-slider-text {
  margin-top: 150px;
}

@media screen and (max-width: 480px) {
  .flexslider.probootstrap-inner .probootstrap-slider-text {
    margin-top: 100px;
  }
}

.flexslider .slides > li {
  background-size: cover;
  background-position: center center;
  background-repeat: none;
  background-attachment: fixed;
}

.flexslider .slides > li.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flexslider .flex-control-paging {
  position: absolute;
  bottom: 30px;
  z-index: 20;
}

@media screen and (max-width: 480px) {
  .flexslider .flex-direction-nav {
    display: none;
  }
}

.flexslider .flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 50;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  padding: 30px;
}

.flexslider .flex-direction-nav a:hover, .flexslider .flex-direction-nav a:active, .flexslider .flex-direction-nav a:focus {
  outline: none;
}

.flexslider .flex-direction-nav a:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  content: "\e929";
  -webkit-transition: .3s all;
  transition: .3s all;
  font-size: 30px;
  display: inline-block;
  color: white;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flexslider .flex-direction-nav a.flex-next:before {
  content: "\e92a";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flex-direction-nav .flex-prev {
  left: 50px;
}

.flex-direction-nav .flex-next {
  right: 50px;
  text-align: right;
}

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 60px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover,
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.3);
}

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 60px;
}

.flex-control-paging li a {
  width: 7px;
  height: 7px;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(255, 255, 255, 0.7);
}

.flex-control-paging li a.flex-active {
  background: #000;
  background: white;
  cursor: default;
}

/* Owl carousel override style */
.owl-carousel {
  margin-bottom: 100px;
}

.owl-carousel.border-rounded .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
  position: absolute;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: 20px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: 20px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #000000;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #ffffff;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 24px;
  background: rgba(0, 0, 0, 0.7) !important;
  padding: 12px;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
  background: rgba(0, 0, 0, 0.7) !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: -30px;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: -30px;
  margin-bottom: -2.5em;
}

.owl-work.owl-theme .owl-dots {
  bottom: -30px;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s all;
  transition: .2s all;
  border: 2px solid transparent;
}

.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #000000;
}

.probootstrap-testimony-wrap {
  max-width: 700px;
  margin: 0 auto;
  display: table;
}

@media screen and (max-width: 980px) {
  .probootstrap-testimony-wrap {
    display: block;
    text-align: center !important;
  }
}

.probootstrap-testimony-wrap figure, .probootstrap-testimony-wrap blockquote {
  display: table-cell;
  vertical-align: top;
}

@media screen and (max-width: 980px) {
  .probootstrap-testimony-wrap figure, .probootstrap-testimony-wrap blockquote {
    width: 100%;
    display: block;
  }
}

.probootstrap-testimony-wrap figure {
  width: 120px;
  margin: 0 auto 50px auto;
}

.probootstrap-testimony-wrap figure img {
  border-radius: 50%;
}

@media screen and (max-width: 980px) {
  .probootstrap-testimony-wrap figure {
    width: 100%;
  }
  .probootstrap-testimony-wrap figure img {
    max-width: inherit;
    width: 120px !important;
    margin: 0 auto;
  }
}

.probootstrap-testimony-wrap blockquote {
  padding-left: 40px;
  border-left: none;
}

.probootstrap-testimony-wrap .author {
  margin-top: 50px;
  display: block;
  font-size: 14px;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.image-link {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}

/* aligns caption to center */
.mfp-title {
  text-align: center;
  padding: 6px 0;
}

.image-source-link {
  color: #DDD;
}

.probootstrap-gutter0 > div[class*='col-'] {
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter0 > div[class*='col-'] {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.probootstrap-gutter10 > div[class*='col-'] {
  padding-right: 5px;
  padding-left: 5px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter10 > div[class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.probootstrap-gutter40 > div[class*='col-'] {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter40 > div[class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.probootstrap-gutter60 > div[class*='col-'] {
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter60 > div[class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.probootstrap-black-color {
  color: #000000 !important;
}

.probootstrap-white-color {
  color: #ffffff !important;
}

.probootstrap-primary-color {
  color: #B2D430 !important;
}

.probootstrap-secondary-color {
  color: #ddf0f3 !important;
}

@media screen and (max-width: 768px) {
  .img-sm-responsive {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .img-xs-responsive {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.probootstrap-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: #ffffff url(../img/preloader.gif) center no-repeat;
}

.gototop {
  position: fixed;
  bottom: -20px;
  right: 20px;
  z-index: 9999999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.gototop.active {
  opacity: 1;
  visibility: visible;
  bottom: 20px;
}

.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
}

.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
  background: rgba(0, 0, 0, 0.9);
}

