﻿

.user-box {
    border: 1px solid #eaeaea;
    padding: 34px;
}

.user-box {

}

.select2-container .select2-selection--single {
    height: 34px!important;
}

.user-header {
    height: 80px !important;
    background-color: #1b2226 !important;
    
}

.user-header p {
    /*text-transform: capitalize !important;*/
}

.sidebar-toggle:hover {
    background: rgba(0,0,0,0.2)!important;
}

.action {
    /*margin-right: 5px;*/
    font-size: 14px;
    font-weight: 700;
    padding: 4px;
    border: 1px solid #8a8a8a;
    color: #8a8a8a;
    border-radius: 6px;
}

[data-action]:hover ,.more-info:hover{
    cursor: pointer;
}


.btn-brd {
    border-bottom: 1px solid #eaeaea;
}

.no-mg-t {
    margin-top: 0!important;
}

.no-mg-b {
    margin-bottom: 0!important;
}

.sml-menu {
    width: 88px!important;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.tab-content {
    margin-top: 20px;
}

.no-right-border-r {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    -webkit-appearance: none!important;
}

.inline {
    display: inline-block!important;
}

.login-page, .register-page {
    background: #d2d6de!important;
}