.content-admin-holder {
    margin-bottom: 10px!important;
}

.nav-log-tex{
    color: #01a9ac!important;
}

.nav-log-tex:hover{
    color: #01a9ac!important;
}

.nav-log-img {
    width: 64px;
    position: relative;
    top: -5px;
}

.hidden-content {
    background: #dadada;
}

.table-header {
    background: #475058;
    color: #fff;
    font-weight: bold;
}
.panel-title {
    width: 100%;
}

.admin-btn:hover {
    cursor: pointer!important;
    text-decoration: none;
}

.state-progress {
    background-color: #39a21e!important;
}

.state-paused {
    background-color: #b13418!important;
}

.state-done {
    background-color: #30749c!important;
}

thead tr th {
    text-transform: uppercase!important;
}

tbody tr:nth-child(even) {
    background-color: #eff4f7!important
}

.sub-heading-well {
    margin-top: 10px;
}

.project-title {
    font-size: 17px;
}

.logo-warpper {
    font-size: 15px;
    text-transform: uppercase;
}

.sofclick {
    border: 3px solid #fff200;
    padding: 5px 17px 5px 17px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.tech{
    font-weight: bold;
    color: black;
}

.logo {
    margin-top: 13px;
    position: relative;
    left: 19px;
}

.header {
    background-color: #ffc038;
}

.no-padding {
    padding: 0!important;
}

.no-margin {
    margin: 0!important;
}

.no-padding-right {
    padding-right: 0!important;
}

.tab-content {
    /*margin-top: 10px;*/
}

.modal.fade.in {
    background: rgba(0,0,0,0.5)!important;
}

.task-description {
    display: block;
    margin-bottom: 10px;
}

.detailBox {
    /*width:320px;*/
    /*border:1px solid #bbb;*/
    /*margin:50px;*/
}

.tab-content {
    background: #ffffff;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

